<div class="container">
    <div class="row justify-content-md-center">
        <div class="card w-50 mt-2 float-right">
            <div class="card-header">New Match</div>
            <div class="card-body">
                <div ng-controller="MyCtrl">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control"   placeholder="Enter name of Team 1"
                            [(ngModel)]="teamOneName" value="Add Question">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text"  name="name" class="form-control" placeholder="Enter name of Team 2" 
                            [(ngModel)]="teamTwoName" value="Add Question">
                        </div>
                        <div class="form-group col-md-6">
                            <select class="browser-default custom-select ml-0" [(ngModel)]="tossWinby">
                                <option   [ngValue]="undefined" hidden selected> Please Select Team </option>
                                <option > {{teamOneName}}</option>
                                <option > {{teamTwoName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="browser-default custom-select mr-sm-2" [(ngModel)]="decision" >
                                    <option [ngValue]="undefined" hidden selected> Please Select Bat/Bowl </option>
                                <option value="1" selected>Batting</option>
                                <option value="2">Bowling</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter number of overs" [(ngModel)]="numberOfOvers">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button    type="button" class="btn btn-danger col-md-12" (click)="onClearbuttonClick()">Clear</button>
                        </div>
                        <div class="col">
                            <button   type="button" class="btn btn-primary col-md-12" (click)="onDefineTeamsClick()" >Define Teams</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
